* {
    text-align: center;
    box-sizing: border-box;
}

.top {
    background-image: url(https://github.com/akylem100/thegoodoflife/blob/main/textwatermarkblue2.png?raw=true);
    margin-top: -8px;
    background-color: #1D3557
}

.logo {
    background-color: transparent;

}

#mwh1 {
    margin-top: -10%;
    color: white;
}

.navbar {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    background-color: #f1faef;
    margin-right: 49px
}

nav a {
    text-decoration: none;
    background-color: transparent;
    color: #757575;
    padding-bottom: 20px;
    font-size: 0.8em
}

.navbar2 {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    background-color: #f1faef;
    margin-right: 49px
}

.navbar2 a {
    text-decoration: none;
    background-color: transparent;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 0.8em
}


body, html {
    margin: 0 0 0 0;
    font-family: Avnir-Light, Futura, sans-serif;
    font-size: 1.15em;
    background-color: #f1faee;
    height: 100%;
}

.parallax {
    background-image: url('https://github.com/akylem100/thegoodoflife/blob/main/mwimg2.jpg?raw=true');
    margin-top: -60px;
    height: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#hero {
    display: grid;
    margin-bottom: -14%
}

#herobox {
    grid-column: 1/4;
    grid-row: 1/3;
}

.heropic {
    width: 100%;
    height: 75%
}

#energytriangle {
    background-color: transparent;
    width: 80%;
    margin-left: 10%;
    margin-top: -5%
}

#hero h1 {
    background-color: transparent;
    text-align: center;
    color: #1d3557;
    font-size: 1.5em
}

#herocont {
    display: grid;
    font-size: 2.8em;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: transparent;
    margin: 0 auto
}

.webpurpose {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    letter-spacing: 0.04em;
    font-size: 2.5em;
    color: #FFFFFF;
    text-align: center;
    padding-right: 50px;
}

.webpurpose img {
    grid-column: 3/10;
    grid-row: 4/8;
    margin-left: 50px
}

.webpurpose p {
    grid-column: 5/10;
    grid-row: 2/8;
    width: 80%;
    background-color: #A8DADC;
    padding: 30px
}

.homequote {
    margin-left: 420px;
    line-height: 2.0em;
    padding: 10px;
    background-color: #e63946;
    color: white;
    width: 55%;
}

.homequote h3 {
    font-size: 1.9em;
    line-height: 2.0em;
}

.purpose {
    text-align: center;
    margin: 0 auto;
    padding-top: 0.3%;
    padding-bottom: 1.8%;
    width: 55%
}

.mwchart1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#mwc1h1 {
    color: #000000;
    grid-column: 1/10;
    grid-row: 3/10;
    margin-left: -43%;
    font-size: 2.6em;
}

.mwchart1 p {
    grid-column: 2/10;
    grid-row: 5/10;
    width: 40%;
    line-height: 1.5em;
    letter-spacing: .05em;
}

#mwimg1 {
    grid-column: 7/10;
    grid-row: 3/10;
    width: 110%;
    margin-left: -22%;
    margin-top: 8%
}

.mwchart2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.mwchart2 h1 {
    grid-column: 2/10;
    grid-row: 2/10;
    font-size: 2.6em;
}

.mwchart2 p {
    grid-column: 4/10;
    grid-row: 5/10;
    width: 60%;
    line-height: 1.5em;
    margin-top: 4%;
    margin-left: 3.5%;
    font-size: 1.2em;
    letter-spacing: .05em;
}

#mwimg2 {
    grid-column: 2/10;
    grid-row: 2/10;
    width: 50%
}

.moretext {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    line-height: 1.5em;
    letter-spacing: .05em;
}

.bg-image {
    height: 50%;
    margin-top: -30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.6);
}

.navbar3 {
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: transparent;
    top: 4%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.navbar4 {
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: transparent;
    top: 231%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.navbar3 a {
    text-decoration: none;
    background-color: transparent;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 0.8em
}

.navbar4 a {
    text-decoration: none;
    background-color: transparent;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 0.8em
}

#fltitle {
    position: absolute;
    top: 25%;
    left: 50%;
    color: #FFFFFF;
    background-color: rgb(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 2.4em
}

#fldesc {
    position: absolute;
    top: 52%;
    left: 50%;
    color: #FFFFFF;
    background-color: #0000004b;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    letter-spacing: .06em;
    padding: 20px;
    text-align: center;
    font-size: 1.1em
}

#fltips {
    position: absolute;
    top: 107.8%;
    left: 50%;
    color: #FFFFFF;
    background-color: rgb(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    letter-spacing: .06em;
    padding: 20px;
    text-align: center;
    font-size: 1.1em
}

#flquote {
    position: absolute;
    top: 160%;
    left: 50%;
    color: #FFFFFF;
    background-color: #0000007c;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    letter-spacing: .06em;
    padding: 20px;
    text-align: center;
    font-size: 1.1em
}

.img1 { background-image: url("/fsimage7.jpg"); }
.img2 { background-image: url("/fsimage1.jpg"); }
.img3 { background-image: url("/fsimage6.jpg"); }
.img4 { background-image: url("/fsimage2.jpg"); }
.img5 { background-image: url("/fsimage3.jpg"); }